# all files flagged as backup files using the 
# end string : .bk followed by a number
#*.bk[0123456789]  
#*.bk[0-9]*
#
# limited to 9
*.bk[0-9]
*.bk
src/repoze.who.plugins.cas.egg-info/
# all compiled/trash files
*.pyc
*.tar
*.swp
